.img{
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: url(./bj1.jpg);
    background-size: cover;
    display: flex;
}
.img>.item{
    flex: 1;
    background-image: url(./bj2.jpg);
    background-size: cover;
    background-position-x: calc(var(--index)*6.5%);
    transition: 1s;
}
.img:hover>.item{
    transform: rotateY(90deg);
}